@model CondutorInfrator.Models.ProcessoViewModel

@{
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
    var Pes_TipoPessoa = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Role).Value;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form", name = "form" }))
{

    <div class="container">
        <div class="conteudo">


            <div class="row">
                <div class="col-md-1 text-center">
                    <img src="~/img/Assitente.png" />
                </div>
                <div class="col-md-11" style="margin-left:-28px; font-style: italic">
                    <h5><strong> Digite o CPF do condutor e clique em pesquisar, caso não encontre o condutor envie um convite clicando no botão ao lado do campo Documento.</strong></h5>
                    <h5><strong>Você pode alterar seus dados cadastrados antes de avançar no registro do processo, clicando no menu acima da opção perfil <span class="glyphicon glyphicon-menu-hamburger " style="color:royalblue" aria-hidden="true"></span> ou no local indicado no formulário abaixo. </strong></h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8">
                    <h3>Apresentação Condutor Infrator</h3>
                </div>
                <div class="col-md-4 text-left text-danger">
                    <h5>
                        <small style="color:red">INFORMAÇÕES IMPORTANTES!</small><br />
                        <strong>LEIA ANTES DE INICIAR O PROCESSO <label id="LabelPassoaPasso" class="text-primary" style="cursor: pointer"> Clique Aqui </label> </strong>
                    </h5>
                </div>
            </div>
            <br />

            <div class="barra-busca">
                <div class="row">
                    <div class="col-md-4" id="DivCPF">
                        <Label for="">Documentos do condutor (CPF / Passaporte)</Label>
                        @Html.EditorFor(model => model.Con_CPF, new { htmlAttributes = new { @class = "form-control", id = "Con_CPF", placeholder = "Digite aqui o documento do condutor", @maxlength = 50 } })
                    </div>
                    <div class="col-md-5" style="margin-top: 25px;">
                        <button type="button" class="btn btn-primary btn-busca" id="BtnPesquisa">Pesquisar</button> <small> <strong>Somente para condutor devidamente cadastrado.</strong></small><br />
                        <button type="button" class="btn btn-primary btn-busca" id="BtnConvite">Convite via email</button> <small><strong> Se o condutor não possuir cadastro.</strong></small>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-7">
                    @Html.DisplayNameFor(model => model.Con_Nome)
                    @Html.EditorFor(model => model.Con_Nome, new { htmlAttributes = new { @class = "form-control", id = "Con_Nome", @readonly = "readonly" } })
                    @Html.HiddenFor(model => model.Con_StatusCNH)

                </div>
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.Con_RegistroCNH)
                    @Html.EditorFor(model => model.Con_RegistroCNH, new { htmlAttributes = new { @class = "form-control", id = "Con_RegistroCNH", @readonly = "readonly" } })
                </div>
                <div class="col-md-2" id="DivCNH">
                    @Html.DisplayNameFor(model => model.Con_CNHValidade)
                    @Html.EditorFor(model => model.Con_CNHValidade, new { htmlAttributes = new { @class = "form-control", id = "Con_CNHValidade", @readonly = "readonly" } })
                </div>
                <div class="col-md-1" id="DivCNH">
                    @Html.DisplayNameFor(model => model.Con_UF_CNH)
                    @Html.EditorFor(model => model.Con_UF_CNH, new { htmlAttributes = new { @class = "form-control", id = "Con_UF_CNH", @readonly = "readonly" } })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.DisplayNameFor(model => model.Con_EndPro_CEP)
                    @Html.EditorFor(model => model.Con_EndPro_CEP, new { htmlAttributes = new { @class = "form-control", id = "Con_EndPro_CEP", @readonly = "readonly" } })
                </div>
                <div class="col-md-6">
                    @Html.DisplayNameFor(model => model.Con_EndPro_Logradouro)
                    @Html.EditorFor(model => model.Con_EndPro_Logradouro, new { htmlAttributes = new { @class = "form-control", id = "Con_EndPro_Logradouro", @readonly = "readonly" } })
                </div>
                <div class="col-md-3">
                    @Html.DisplayNameFor(model => model.Con_EndPro_Bairro)
                    @Html.EditorFor(model => model.Con_EndPro_Bairro, new { htmlAttributes = new { @class = "form-control", id = "Con_EndPro_Bairro", @readonly = "readonly" } })
                </div>
            </div>
            <div class="row">

                <div class="col-md-3 text-danger">
                    @Html.DisplayNameFor(model => model.Con_EndPro_Cidade)
                    @Html.EditorFor(model => model.Con_EndPro_Cidade, new { htmlAttributes = new { @class = "form-control", id = "Con_EndPro_Cidade", @readonly = "readonly" } })
                </div>
                <div class="col-md-4">
                    @Html.DisplayNameFor(model => model.Con_EndPro_Complemento)
                    @Html.EditorFor(model => model.Con_EndPro_Complemento, new { htmlAttributes = new { @class = "form-control", id = "Con_EndPro_Complemento", @readonly = "readonly" } })
                </div>
                <div class="col-md-1">
                    @Html.DisplayNameFor(model => model.Con_EndPro_Estado)
                    @Html.EditorFor(model => model.Con_EndPro_Estado, new { htmlAttributes = new { @class = "form-control", id = "Con_EndPro_Estado", @readonly = "readonly" } })
                </div>
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.Con_EndPro_Pais)
                    @Html.EditorFor(model => model.Con_EndPro_Pais, new { htmlAttributes = new { @class = "form-control", id = "Con_EndPro_Pais", @readonly = "readonly" } })
                </div>
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.Con_Telefone)
                    @Html.EditorFor(model => model.Con_Telefone, new { htmlAttributes = new { @class = "form-control", id = "Con_Telefone", @readonly = "readonly" } })
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-6">
                    <h3>Informações do Requerente</h3>
                </div>
                <div class="col-md-6 text-right text-danger " style="font-style: italic">
                    <div class="row"><h5> <img src="~/img/Assitente (1).png" /> <strong>Deseja alterar seu cadastro? @Html.ActionLink("Clique aqui!", "perfil_cpf", "perfil")</strong></h5></div>

                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-2">
                    CPF / CNPJ
                    @Html.EditorFor(model => model.Ptr_CPF_CNPJ, new { htmlAttributes = new { @class = "form-control", id = "Ptr_CPF_CNPJ", @readonly = "readonly" } })
                    <span id="resposta"></span>
                </div>


                <div class="col-md-4">
                    @Html.DisplayNameFor(model => model.Ptr_Nome)
                    @Html.EditorFor(model => model.Ptr_Nome, new { htmlAttributes = new { @class = "form-control", id = "Ptr_Nome", @readonly = "readonly" } })
                </div>
                <div class="col-md-3">
                    @Html.DisplayNameFor(model => model.Ptr_RegistroCNH)
                    @Html.EditorFor(model => model.Ptr_RegistroCNH, new { htmlAttributes = new { @class = "form-control", id = "Ptr_RegistroCNH", @readonly = "readonly" } })
                </div>
                <div class="col-md-3">
                    @Html.DisplayNameFor(model => model.Ptr_CNHValidade)
                    @Html.EditorFor(model => model.Ptr_CNHValidade, new { htmlAttributes = new { @class = "form-control", id = "Ptr_CNHValidade", @readonly = "readonly" } })
                    @Html.EditorFor(model => model.Ptr_StatusCNH, new { htmlAttributes = new { @class = "form-control", id = "Ptr_StatusCNH", style = "display:none" } })
                </div>


            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.Ptr_EndPro_CEP)
                    @Html.EditorFor(model => model.Ptr_EndPro_CEP, new { htmlAttributes = new { @class = "form-control", id = "End_CEP", @readonly = "readonly" } })
                </div>
                <div class="col-md-7">
                    @Html.DisplayNameFor(model => model.Ptr_EndPro_Logradouro)
                    @Html.EditorFor(model => model.Ptr_EndPro_Logradouro, new { htmlAttributes = new { @class = "form-control", id = "End_Logradouro", @readonly = "readonly" } })
                </div>
                <div class="col-md-3">
                    @Html.DisplayNameFor(model => model.Ptr_EndPro_Bairro)
                    @Html.EditorFor(model => model.Ptr_EndPro_Bairro, new { htmlAttributes = new { @class = "form-control", id = "End_Bairro", @readonly = "readonly" } })
                </div>
            </div>


            <div class="row">
                <div class="col-md-3">
                    @Html.DisplayNameFor(model => model.Ptr_EndPro_Cidade)
                    @Html.EditorFor(model => model.Ptr_EndPro_Cidade, new { htmlAttributes = new { @class = "form-control", id = "Ptr_EndPro_Cidade", @readonly = "readonly" } })
                </div>
                <div class="col-md-4">
                    @Html.DisplayNameFor(model => model.Ptr_EndPro_Complemento)
                    @Html.EditorFor(model => model.Ptr_EndPro_Complemento, new { htmlAttributes = new { @class = "form-control", id = "Ptr_EndPro_Complemento", @readonly = "readonly" } })
                </div>
                <div class="col-md-1">
                    @Html.DisplayNameFor(model => model.Ptr_EndPro_Estado)
                    @Html.EditorFor(model => model.Ptr_EndPro_Estado, new { htmlAttributes = new { @class = "form-control", id = "Ptr_EndPro_Estado", @readonly = "readonly" } })
                </div>
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.Ptr_EndPro_Pais)
                    @Html.EditorFor(model => model.Ptr_EndPro_Pais, new { htmlAttributes = new { @class = "form-control", id = "Ptr_EndPro_Pais", @readonly = "readonly" } })
                </div>
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.Ptr_Telefone)
                    @Html.EditorFor(model => model.Ptr_Telefone, new { htmlAttributes = new { @class = "form-control", id = "Ptr_Telefone", @readonly = "readonly" } })
                </div>
            </div>


            <br>
            <h3>Informações do Veículo</h3>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.Vec_Placa)
                    @Html.EditorFor(model => model.Vec_Placa, new { htmlAttributes = new { @class = "form-control", id = "Vec_Placa", @readonly = "readonly" } })
                </div>
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.Vec_RENAVAN)
                    @Html.EditorFor(model => model.Vec_RENAVAN, new { htmlAttributes = new { @class = "form-control", id = "Vec_RENAVAN", @readonly = "readonly" } })
                </div>
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.Vec_Ano)
                    @Html.EditorFor(model => model.Vec_Ano, new { htmlAttributes = new { @class = "form-control", id = "Vec_Ano", @readonly = "readonly" } })
                </div>
                <div class="col-md-3">
                    @Html.DisplayNameFor(model => model.Vec_Marca)
                    @Html.EditorFor(model => model.Vec_Marca, new { htmlAttributes = new { @class = "form-control", id = "Vec_Marca", @readonly = "readonly" } })
                </div>

            </div>
            <br>
            <h3>Informações da Multa</h3>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    @Html.DisplayNameFor(model => model.Mut_AIT)
                    @Html.EditorFor(model => model.Mut_AIT, new { htmlAttributes = new { @class = "form-control", id = "Mut_AIT", @readonly = "readonly" } })
                </div>
                <div class="col-md-3">
                    @Html.DisplayNameFor(model => model.Mut_CodigoInfracao)
                    @Html.EditorFor(model => model.Mut_CodigoInfracao, new { htmlAttributes = new { @class = "form-control", id = "Mut_CodigoInfracao", @readonly = "readonly" } })
                </div>
                <div class="col-md-3">
                    @Html.DisplayNameFor(model => model.Mut_DataInfracao)
                    @Html.EditorFor(model => model.Mut_DataInfracao, new { htmlAttributes = new { @class = "form-control", id = "Mut_DataInfracao", @readonly = "readonly" } })
                </div>
            </div>

            <div class="row">
                <div class="col-md-9">
                    @Html.DisplayNameFor(model => model.Mut_DescricaoInfracao)
                    @Html.TextAreaFor(model => model.Mut_DescricaoInfracao, new { @class = "form-control", @rows = 3, id = "Mut_DescricaoInfracao", @readonly = "readonly" })
                </div>
            </div>
            <br>

            <div class="col-md-12">
                <div class="text-center">
                    <input type="button" value="Próximo" class="btn btn-primary btn-lg btn-transalvador" id="BtnAvancar" @*onclick="ConferirDados() "*@ />

                </div>
            </div>
        </div>
    </div>



    //Modal


    <div class="modal fade bd-example-modal-lg" id="modalOrientacao" tabindex="-1" role="dialog" aria-labelledby="modalConfirmacao" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">


                <div class="modal-header">
                    <h4 class="modal-title"> PASSO A PASSO</h4>

                </div>
                <div class="modal-body" style="margin-bottom: 90px;">
                    <div class="lista-importante" id="Apresentacao">



                        <div class="row text-center">
                            <h4>APRESENTAÇÃO DE CONDUTOR INFRATOR</h4>
                            <strong><small><h5>INFORMAÇÕES IMPORTANTES / LEIA COM ATENÇÃO</h5></small></strong>
                        </div>

                        <br />


                        <h4><strong>• 1 - Registrar Solicitação de Processo Condutor Infrator</strong></h4>
                        <div class="text-justify">
                            O Sistema WEB foi criado para permitir ao proprietário do veículo mais uma via de abertura, e, oportunizando ao mesmo, escolher
                            a que melhor atende às suas necessidades.
                            Por outro lado, ao optar pela via WEB, além de se sujeitar às regras contidas na Legislação Federal e Municipal,
                            deve se sujeitar às regras de abertura on-line contidas neste passo a passo e demais condicionantes previstos nas telas do sistema web. <br />


                            <strong>
                                A Apresentação de Condutor Infrator é possível até a data limite do vencimento especificado na Notificação da Autuação – NA. <br />
                                Entretanto, a utilização da via WEB é recomendada com antecedência mínima de 5 (cinco) dias antes do vencimento da Notificação da Autuação – NA,
                                considerando que o aceite do condutor deve ser dado em até 3 (três) dias após a abertura da demanda, limitado ao vencimento da referida notificação.
                                Consoante, se for aberta a solicitação WEB no último dia do vencimento da NA, o aceite deve ser finalizado nesse limite (mesma data),
                                devendo o proprietário do veículo acompanhar junto ao condutor.
                            </strong>
                            <br />
                            <strong>UTILIZANDO O SISTEMA WEB:</strong> Ao logar no Sistema de Protocolo Online, o cidadão tem acesso à listagem de autos de infração de trânsito - AITs de sua propriedade (CPF ou CNPJ).<br />
                            <strong>O registro da solicitação de processo de Apresentação de Condutor Infrator online pode ser realizado<u> apenas através do proprietário do veículo.</u></strong><br />

                            O proprietário deve indicar os dados do condutor na solicitação (protocolo web/on-line) e providências junto ao mesmo para
                            assinatura do formulário de identificação, documentação, e aceite no sistema.<br />

                            Para registrar a solicitação do Processo de Apresentação de Condutor Infrator, o cidadão que será apresentado como infrator deve
                            possuir cadastro no sistema para realizar o aceite.<br />

                            Contudo, se o proprietário do veículo for Pessoa Jurídica com impossibilidade de coleta da assinatura do condutor infrator,
                            pode apresentar como condutor um cidadão que não possui cadastro, informando o CPF, Nome Completo, Registro CNH e Telefone (opcional),
                            para estes casos, a foto selfie do condutor não constará como documentação anexada ao pedido.<br />

                            O condutor Infrator ao receber o comunicado de indicação pelo proprietário, e não tiver cadastro, deverá efetuá-lo acessando o
                            link recebido no convite via e-mail, ou diretamente no protocolo web/on-line acessível através do site da TRANSALVADOR, seguir o
                            passo a passo e dar o aceite no prazo limite estipulado.<br />

                            <br />

                            <h4><strong>• 2 - JUNTAR DOCUMENTAÇÃO</strong></h4>
                            Tenha em mãos toda documentação necessária, pois a abertura do serviço é imediata após confirmação dos termos e finalização dos procedimentos.<br />

                            Nesta etapa o proprietário juntará a documentação obrigatória que deve estar completa, legível e em bom estado para obter aprovação.
                            A falta de assinatura na NA- Notificação da Autuação e/ou ausência de documentos comprobatórios, assinatura divergente do documento apresentado ou em cópia,
                            erros de preenchimento, não legitimidade do requerente, e descumprimento de demais condicionantes,
                            implicam o indeferimento do pedido (conforme tabela abaixo item 5.1). Neste caso, o proprietário do veículo será considerado o responsável pela infração
                            e terá registrado no histórico da sua CNH a pontuação correspondente a infração.
                            <br />
                            <br />
                            <strong>
                                É obrigatório identificar o condutor infrator de veículos de propriedade de Pessoa Jurídica, sob pena de incorrer na aplicação de nova multa, conforme
                                parágrafo 8° do art. 257 do CTB.
                            </strong>
                            <br />
                            <br />
                            <strong>
                                Apresentar condutor infrator diferente do que conduzia o veículo configura crime de falsidade ideológica, previsto no artigo 299 do Código Penal,
                                com pena de 1 a 5 anos e multa.
                            </strong>
                            <br />



                            <h4><strong>OS DOCUMENTOS OBRIGATÓRIOS PARA REGISTRO DO PROCESSO SÃO:</strong></h4>
                            <strong>• Para Veículos Em Nome De Pessoa Física</strong>
                            <br />
                            a. RG ou CNH do proprietário do veículo(não pode estar dobrado);
                            <br />
                            b. CNH do condutor infrator (não pode estar dobrada / caso esteja vencida na época da infração será lavrada outra multa);
                            <br />
                            c. Comprovante de residência do condutor infrator (dos últimos 3 meses);
                            <br />
                            d. Formulário NA - Notificação da Autuação completo,  preenchido sem rasuras, assinado pelo proprietário e condutor infrator
                            (assinaturas originais preferencialmente utilizando caneta azul, sem abreviações, semelhantes aos documentos apresentados);
                            <br />
                            e. Foto sefie/perfil do condutor infrator segurando a CNH aberta ao lado do rosto (documento anexado ao processo automaticamente, pois está cadastrada no perfil do cidadão.
                            É necessário que a foto esteja utilizada de acordo com a vigência do documento CNH e com legibilidade para visualizar as informações. Renove a foto em cada apresentação.
                            <br />
                            <br />

                            <br />

                            <h4><strong>• Para Veículos Em Nome De Pessoa Jurídica Órgão Público</strong></h4>
                            a. RG ou CNH do Dirigente do Órgão ou outro documento que comprove assinatura;
                            <br />
                            b. Portaria de Nomeação;
                            <br />
                            c. CNH do Condutor Infrator (caso esteja vencida na época da infração será lavrada outra multa);
                            <br />
                            d. Formulário NA - Notificação da Autuação assinado pelo proprietário e condutor infrator
                            (assinaturas originais,sem abreviações, preferencialmente com caneta azul, semelhantes aos documentos de identificação apresentados);
                            <br />
                            e. Foto do rosto do condutor infrator segurando a CNH aberta ao lado (documento anexado ao processo automaticamente, caso cadastrado no perfil do cidadão.
                            É necessário que a foto esteja utilizada de acordo com a vigência do documento CNH e com legibilidade para visualizar as informações. Renove a foto em cada
                            apresentação).
                            <br />
                            <br />

                            A Apresentação do Condutor Infrator por proprietários
                            <strong>Pessoa Jurídica Órgão Público, com impossibilidade do registro da assinatura do condutor infrator</strong>
                            apresentado no Formulário NA - Notificação da Autuação, torna-se obrigatório complementar a documentação com:
                            <br />
                            a. Ofício do representante legal do Órgão ou Entidade
                            <strong>identificando o condutor infrator;</strong>
                            <br />
                            b. Documento que comprove a posse do veículo no momento do cometimento da infração
                            (exemplo: escala de serviço com o nome do condutor, data e horário coincidindo com os dados da infração lavrada atrelada à placa do veículo).
                            <br />
                            <br />

                            <h4><strong>• Para Veículos Em Nome De Demais Pessoas Jurídica</strong></h4>
                            a - Contrato Social;
                            <br />
                            b - RG ou CNH do Sócio da Empresa que assina no Contrato Social ou outro documento que comprove assinatura.
                            <br />
                            c. CNH do condutor infrator (caso esteja vencida na época da infração será lavrada outra multa);
                            <br />
                            d. Formulário NA - Notificação da Autuação assinado pelo proprietário e condutor infrator (assinaturas originais,sem abreviações, preferencialmente com caneta azul,
                            semelhantes ao documento de identificação);
                            <br />
                            e. Foto do rosto do condutor infrator segurando a CNH aberta ao lado (documento anexado ao processo automaticamente, caso cadastrado no perfil do cidadão.
                            É necessário que a foto esteja utilizada de acordo com a vigência do documento CNH e com legibilidade para visualizar as informações. Renovar a foto em cada apresentação).
                            <br />
                            f) O proprietário sendo Demais Pessoas Jurídicas pode indicar além de um sócio/proprietário, um procurador como representante legal da empresa.
                            O procurador deve representar o sócio/proprietário ou a empresa (neste caso representando todos os sócios/proprietários). A indicação do procurador
                            torna obrigatório complementar com os seguintes anexos:
                            <br />
                            1 - Documento de Procuração Pública;
                            <br />
                            2 - RG ou CNH do Procurador ou outro documento que comprove assinatura.
                            <br />
                            <br />

                            A Apresentação do Condutor Infrator por proprietários
                            <strong> Demais Pessoas Jurídicas, com impossibilidade do registro da assinatura do condutor infrator</strong>
                            apresentado no Formulário NA - Notificação da Autuação, torna-se obrigatório complementar a documentação com:
                            <br />

                            a. Documento onde conste cláusula de responsabilidade por infrações cometidas pelo condutor e comprove a posse do veículo no momento do cometimento da infração
                            (exemplo: Locadoras – opção de apresentar contrato de locação com termo de responsabilidade, constando os dados do locador e locatário, veículo, horário e
                            data de saída e devolução do veículo, assinatura do condutor e sua identificação / caso haja substituição do veículo ou renovação deve conter assinatura do
                            condutor no documento aditivo, da empresa e os dados mínimos para comprovação).
                            <br />
                            <strong>IMPORTANTE: </strong> O documento referido na alínea “a” deverá conter, no mínimo, a identificação do veículo, do proprietário e condutor,
                            cláusula de responsabilidade pelas infrações e período em que o veículo esteve na posse do condutor apresentado, podendo esta última informação constar
                            em documento separado assinado pelo condutor.
                            <br />
                            <br />

                            <strong>• Disposições Gerais / Condutor Habilitado no Exterior</strong>
                            <br />

                            Nos casos de condutor habilitado no exterior, além dos requisitos obrigatórios acima, deverá observar a Resolução CONTRAN nº360/2010,
                            exigindo-se cópia do documento de habilitação estrangeira dentro do prazo de validade e cópia do passaporte comprovando a identidade e a data de entrada no Brasil,
                            que não poderá ser superior a 180 (cento e oitenta) dias.
                            <br />
                            <br />


                            <h4><strong>• 3 - ANEXAR DOCUMENTAÇÃO:</strong></h4>
                            Nesta etapa, deve o usuário anexar os documentos necessários de acordo com as regras descritas no tópico Juntar Documentação.
                            <br />
                            É necessário que os documentos anexados ao processo estejam completos e conforme o indicativo individualizado do campo anexar, legislação,
                            sem rasuras, e legíveis, e demais condicionantes do uso do sistema web sejam atendidos, caso contrário o Controle Interno – CI será reprovado e arquivado definitivamente.

                            <br />
                            Não serão aceitos documentos incompletos (dobrados), rasurados, ilegíveis e que não correspondam ao auto de infração e cadastro.
                            Cada tópico do campo anexar aponta o tipo de documento e tamanho permitido de forma individualizada, devendo ser observado rigorosamente.
                            <br />
                            <strong>Os motivos de reprovação estão na tabela abaixo, ítem 5.1.</strong>
                            <br />
                            Na falta de aceite ou reprovação, o proprietário poderá fazer nova solicitação desde que haja prazo para abertura.
                            Ver regas no site da TRANSALVADOR para vias de abertura presencial e postagem Correios.
                            <br />
                            <br />


                            <h4><strong>• 4 - ENVIAR A DOCUMENTAÇÃO</strong></h4>
                            Para finalizar o registro é necessário realizar o upload dos documentos, concordar com os termos da TRANSALVADOR no local indicado clicando em
                            “Finalizar Registro do Processo” ou “Enviar Documentação”. Revise toda documentação e o cumprimento das regras e legislação pois uma vez
                            encaminhado não será possível fazer modificações,seguindo a solicitação/CI imediatamente para análise.
                            <br />
                            <strong>O sistema disponibiliza a pré-visualização de todos os documentos anexados pelo usuário, permitindo uma revisão antes do envio.</strong>
                            <br />
                            <br />

                            <h4><strong>• 5 - ACEITE DO CONDUTOR INFRATOR E TRIAGEM </strong></h4>
                            Após o proprietário anexar a documentação e finalizar o registro é enviado para o condutor apresentado um comunicado por e-mail
                            com convite de aceite de apresentação da indicação do real condutor. O cidadão que foi indicado como condutor deve acessar o sistema WEB,
                            confirmar os dados e documentação. Caso o condutor não tenha cadastro, deve acessar o site da Transalvador, “MULTAS” clicar na opção “SERVIÇOS ON-LINE”,
                            efetuar o cadastro e acessar o sistema para confirmar os dados e documentação.
                            <br />
                            <br />

                            O condutor apresentado tem um
                            <strong>
                                prazo de (3) três dias a contar da data de envio da solicitação,<u>
                                    desde que não ultrapasse a data de vencimento da
                                    Notificação de Autuação – NA, para acessar o sistema e aceitar a indicação.
                                </u>
                                Consoante, se for aberta a solicitação no último dia do vencimento da NA, o aceite deve ser finalizado nesse limite (mesma data),
                                devendo o proprietário do veículo acompanhar junto ao condutor indicado. Por esta razão é recomendado utilizar a via WEB apenas se
                                tiver com antecedência de 5(cinco) dias do vencimento da notificação da autuação – NA, ou, se o proprietário acompanhar junto ao condutor
                                para que o aceite ocorra no limite de vencimento da Notificação da Autuação - NA.
                            </strong>
                            <br />

                            Ao aceitar a indicação, o Controle Interno segue para análise da Triagem. <br />
                            Se o condutor infrator não der o aceite na indicação no período
                            estabelecido (três dias), o prazo de aceite será expirado, havendo o arquivamento imediato do CI. Após o arquivamento do CI pelo não aceite,
                            será permitido ao usuário utilizar a via presencial, o encaminhamento via Correios, ou nova tentativa WEB,
                            <strong>desde que não ultrapasse a data limite de vencimento previsto na Notificação da Autuação – NA. </strong>
                            <br />

                            <strong>
                                Considerando o prazo do aceite do condutor limitado ao vencimento da NA, estando próximo do vencimento da mesma,
                                é recomendado que a abertura seja realizada de forma presencial ou envio postagem Correios, evitado prejuízo na abertura.
                                <u>
                                    Entretanto, optando pela via WEB, se a abertura de CI ocorrer na data de vencimento da Notificação da Autuação – NA,
                                    o aceite do condutor deve ocorrer na mesma data.
                                </u>
                            </strong>
                            <br />
                            As regras para abertura nas vias mencionadas (presencial e encaminhamento via postagem Correios),
                            estão disponíveis no site da Transalvador e notificação da autuação – NA.
                            <br />
                            Se o CI for APROVADO, o mesmo é convertido em processo com número de protocolo de apresentação de condutor web, e as informações seguem automaticamente
                            para o DETRAN. O status da aprovação fica disponível no sistema WEB, acessível a qualquer momento pelo usuário.
                            <br />
                            Caso seja REPROVADO os motivos da reprovação ficam disponíveis na tela do sistema WEB e o CI é arquivado imediatamente.
                            <br />
                            Após o arquivamento do CI reprovado, será permitido ao usuário utilizar a via presencial, o encaminhamento via Correios,
                            ou nova tentativa WEB, <strong>desde que não ultrapasse a data limite de vencimento previsto na Notificação da Autuação – NA.</strong>
                            <br />
                            <strong>
                                Considerando o prazo do aceite do condutor limitado ao vencimento da NA, estando próximo do vencimento da mesma,
                                é recomendado que a abertura seja realizada de forma presencial ou envio postagem Correios, evitado prejuízo na abertura.
                                <u>
                                    Entretanto, optando pela via WEB, se a abertura de CI ocorrer na data de vencimento da Notificação da Autuação – NA,
                                    o aceite do condutor deve ocorrer na mesma data.
                                </u>
                            </strong>
                            <br />
                            <br />
                            As regras para abertura nas vias mencionadas (presencial e encaminhamento via postagem Correios),
                            estão disponíveis no site da Transalvador e Notificação da Autuação – NA.
                            <br />
                            Antes de fazer uma nova solicitação, deve acessar os motivos de reprovação na tela de processos gerados. Para acesso,
                            clicar no número do processo e verificar o status atual do processo.
                            <br />
                            Quando da nova abertura, o nome do condutor apresentado no serviço on-line que tenha sido reprovado ou sem aceite,
                            deve ser mantido pelo proprietário no momento da apresentação presencial, ou na apresentação com encaminhamento via Correios,
                            ou na via WEB, sob pena de configurar falsidade ideológica.
                            <br />

                            Sendo o proprietário Pessoa Jurídica, pode escolher durante o registro da demanda, se é necessário enviar solicitação de
                            aceite de apresentação para o condutor acatar a indicação
                            (apenas nos casos em que o cidadão apresentado como condutor possuir cadastro no sistema) ou se o processo será
                            enviado diretamente para a Triagem na Transalvador.
                            <br />
                            <br />
                            O envio direto pelo proprietário Pessoa Jurídica à Triagem deverá ocorrer somente quando não for possível colher assinatura do condutor infrator
                            (decorre da previsão legal da Resolução CONTRAN 918/2022, art. 5º, parágrafo 1º).
                            <br />
                            <br />
                            Havendo a recusa do condutor no aceite, sendo o veículo de propriedade de pessoa jurídica, o processo será arquivado, entretanto, o representante da empresa poderá fazer a
                            apresentação sem assinatura do condutor, conforme legislação, até o prazo estipulado na Notificação da Autuação - NA . Neste caso, o condutor a ser indicado presencialmente
                            deverá ser o mesmo da demanda recusada sob risco de configurar falsidade ideológica.
                            <br />
                            <strong>ATENÇÃO:</strong> O Proprietário deverá acompanhar toda etapa da abertura online,  principalmente a que trata do aceite pelo condutor, considerando que na falta
                            do aceite do condutor haverá o arquivamento definitivo da CI.
                            <br />
                            <br />

                            <h4><strong>• 5.1 – MOTIVOS DE REPROVAÇÃO:</strong></h4>
                            <style>
                                table {
                                    border-collapse: collapse;
                                    width: 100%;
                                }

                                th, td {
                                    border: 1px solid black;
                                    padding: 8px;
                                    text-align: left;
                                }

                                th {
                                    background-color: #f2f2f2;
                                }
                            </style>
                            <table border="1">
                                <tr>
                                    <th>COD.</th>
                                    <th>DESCRIÇÃO DA RESTRIÇÃO</th>
                                </tr>
                                <tr>
                                    <td>07</td>
                                    <td>DADOS DO CADASTRO INCOMPLETO</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>ASSINATURA DO CONDUTOR NÃO CONFERE – assinatura deve ser. semelhante ao documento CNH / sem abreviações.</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>“NOTIFICAÇÃO DA AUTUAÇÃO - NA” ESCANEADA COM AIT DIFERENTE DO CADASTRO</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>ASSINATURA DO PROPRIETÁRIO NÃO CONFERE</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>“NOTIFICAÇÃO DA AUTUAÇÃO - NA” SEM PREENCHIMENTO E/OU SEM ASSINATURA</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>CONDUTOR NÃO ANEXOU FOTO DO PERFIL COM CNH AO LADO DO ROSTO</td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td>FOTO DO PERFIL NÃO É A DO CONDUTOR APRESENTADO</td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td>DADOS DO CADASTRO COM ERRO</td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td>“NOTIFICAÇÃO DA AUTUAÇÃO - NA” INCOMPLETA</td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td>NÃO ANEXOU A “NOTIFICAÇÃO DA AUTUAÇÃO - NA”</td>
                                </tr>
                                <tr>
                                    <td>21</td>
                                    <td>“NOTIFICAÇÃO DA AUTUAÇÃO - NA” ILEGÍVEL</td>
                                </tr>
                                <tr>
                                    <td>23</td>
                                    <td>FALTA DE ASSINATURA DO PROPRIETÁRIO NA “NOTIFICAÇÃO DA AUTUAÇÃO - NA”</td>
                                </tr>
                                <tr>
                                    <td>25</td>
                                    <td>FALTA DE DOCUMENTO DO PROPRIETÁRIO</td>
                                </tr>
                                <tr>
                                    <td>27</td>
                                    <td>CNH DO CONDUTOR ILEGÍVEL</td>
                                </tr>
                                <tr>
                                    <td>28</td>
                                    <td>CONTRATO SOCIAL INVÁLIDO</td>
                                </tr>
                                <tr>
                                    <td>29</td>
                                    <td>DOCUMENTO DO PROPRIETÁRIO INCOMPLETO</td>
                                </tr>
                                <tr>
                                    <td>30</td>
                                    <td>CNH DO CONDUTOR INCOMPLETO</td>
                                </tr>
                                <tr>
                                    <td>32</td>
                                    <td>FALTA DE ASSINATURA DO CONDUTOR NA “NOTIFICAÇÃO DA AUTUAÇÃO - NA”</td>
                                </tr>
                                <tr>
                                    <td>37</td>
                                    <td>FALTA DE CNH DO CONDUTOR</td>
                                </tr>
                                <tr>
                                    <td>39</td>
                                    <td>“NOTIFICAÇÃO DA AUTUAÇÃO -NA” COM RASURA</td>
                                </tr>
                                <tr>
                                    <td>40</td>
                                    <td>CONTRATO DE LOCAÇÃO COM RASURA</td>
                                </tr>
                                <tr>
                                    <td>41</td>
                                    <td>FOTO DO PERFIL ILEGÍVEL</td>
                                </tr>
                                <tr>
                                    <td>42</td>
                                    <td>AUSÊNCIA DO TERMO DE RESPONSABILIDADE / CONTRATO</td>
                                </tr>
                                <tr>
                                    <td>47</td>
                                    <td>CADASTRO DIFERENTE DA DOCUMENTAÇÃO ANEXA</td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td>DOCUMENTO DO PROPRIETÁRIO / RESPONSÁVEL LEGAL ILEGÍVEL</td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td>PADRÃO DE ASSINATURA NÃO ACEITA (DIGITAL/ELETRÔNICA)</td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td>TERMO DE RESPONSABILIDADE / CONTRATO - SEM DADOS BÁSICOS.</td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td>TERMO DE RESPONSABILIDADE / CONTRATO - ASSINATURA DIVERGENTE</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        TERMO DE RESPONSABILIDADE / CONTRATO - DIVERGENTE DA
                                        NOTIFICAÇÃO (DATA, HORÁRIO, NUMERAÇÃO, OUTROS)
                                    </td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td>AUSÊNCIA DO TERMO DE RESPONSABILIDADE / CONTRATO</td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td>
                                        DOCUMENTO IDENTIFICAÇÃO DIVERGENTE DO REPRESENTANTE QUE
                                        FIGURA NO CONTRATO SOCIAL OU ILEGÍVEL
                                    </td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td>AUSÊNCIA DO CONTRATO SOCIAL OU ILEGÍVEL / OU DIVERGENTE</td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td>
                                        AUSÊNCIA DE PROCURAÇÃO / OU ILEGÍVEL
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>AUSÊNCIA DE OFÍCIO DO ÓRGÃO PÚBLICO INDICANDO O CONDUTOR</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        AUSÊNCIA DE PORTARIA DE NOMEAÇÃO DO DIRIGENTE DO ÓRGÃO / OU
                                        ILEGÍVEL / OU DIVERGENTE
                                    </td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td>
                                        AUSÊNCIA DE DOCUMENTO DE IDENTIFICAÇÃO DO DIRIGENTE ÓRGÃO / OU ILEGÍVEL
                                    </td>
                                </tr>
                            </table>

                            <br />
                            <h4><strong>• 6 DÚVIDAS</strong></h4>
                                Em caso que não seja possível finalizar o cadastro do processo <strong>
                                via WEB reportar de forma detalhada a impossibilidade, imediatamente ao ocorrido,
                                através do contato de e-mail: setap.transalvador@salvador.ba.gov.br (apresentar o print das telas do sistema e mensagens de erro).
                                <br />
                                Dúvidas podem ser esclarecidas no site ou através do telefone (71)3202-9188/SETAP
                                <br />
                                ATENÇÃO:
                                Estando o prazo da Notificação da Autuação – NA, perto do vencimento, utilize uma das seguintes vias alternativas disponibilizadas,
                                evitando prejuízo na tempestividade: VIA PRESENCIAL:
                            </strong> efetue o agendamento obrigatório no site da TRANSALVADOR para fazer a apresentação de condutor
                            presencialmente (ver regras no site) permitido até a data limite de vencimento da Notificação da Autuação. <string>VIA CORREIOS / POSTAGEM</string>: Os documentos
                            podem ser encaminhados também via Correios através de carta registrada, devendo numerar todas as páginas e autenticar a CNH do condutor e reconhecer no
                            requerimento-NA, a assinatura deste em cartório (ver regras na notificação ou site).
                            <br />
                            <br />
                            <h4><strong>• 7 DOCUMENTAÇÃO NECESSÁRIA PARA DIRIGIR-SE A TRANSALVADOR</strong></h4>
                            Para atendimento presencial será necessário agendamento prévio obrigatório no site, especificando o serviço de Apresentação de Condutor.
                            <strong>O agendamento deve ser feito no nome de quem vai comparecer ao Atendimento Presencial, sendo necessário apresentar documento de identificação original. </strong>
                            Ao comparecer no Setor de Atendimento, o responsável deverá apresentar todos os documentos informados de acordo com as regras descritas no tópico Juntar Documentação, exceto a Foto selfie do condutor infrator

                            <strong>
                             (ver demais exigências no site de agendamento, principalmente no tocante a autenticação dos documentos do condutor).
                            </strong>
                            <br />
                            No atendimento presencial é realizado autenticação e reconhecimento de firma, sendo necessário apresentação da CNH original do condutor.                            
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>

}






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="~/Scripts/gr_ValidadorCPF.js"></script>
<script type='text/javascript'>

    $(window).on('load', function () {
        $('#modalOrientacao').modal('show');
    });

    $('#LabelPassoaPasso').click(function () {
        $('#modalOrientacao').modal('show');
        //colocar na view de confirmação uma verificação para nao processar novamente
    });

    function cnhvencida() {
        window.chnvencida = false
    }

    //Limpar campos
    function LimparCampo() {

        $('#DivCPF').addClass('has-error');
        $('#Con_CPF').focus();
        $('#Con_CPF').val("");
        $('#Con_Nome').val("");
        $('#Con_RegistroCNH').val("");
        $('#Con_CNHValidade').val("");
        $('#Con_Telefone').val("");
        $('#Con_EndPro_CEP').val("");
        $('#Con_EndPro_Logradouro').val("");
        $('#Con_EndPro_Bairro').val("");
        $('#Con_EndPro_Cidade').val("");
        $('#Con_EndPro_Complemento').val("");
        $('#Con_EndPro_Estado').val("");
        $('#Con_EndPro_Pais').val("");

    }

    //Validando CPF
    $("#Ptr_CPFRepreLegal").blur(function () {
        if ($("#Ptr_CPFRepreLegal").val() != "") {
        var validador_cpf = new func_validador_cpf();
        var result = validador_cpf.valida($(this).val())
            if (result == "False") {
                posLoad();
                swal("CPF Inválido!", "Necessário preencher o CPF corretamente.", "warning")
                    .then(function () {
                        swal.close();
                        $('#Ptr_CPFRepreLegal').val('')
                        $('#Ptr_CPFRepreLegal').focus();
                    });
                return false;
            };
        };
    });

    //------------------------------------------------

    

    //ENVIO DO CONVITE
    $("#BtnConvite").click(function () {
        swal("Digite o e - mail do condutor. O mesmo receberá por e - mail um link de acesso para que possa realizar o "+
             "cadastro. Confirme o recebimento. Caso o condutor indicado não consiga acessar o link, poderá fazê - lo " +
             "diretamente no site da TRANSALVADOR, clicando no link “MULTAS”, “SERVIÇOS ON - LINE”, “CADASTRE - SE AQUI”.", { content: "input", })
        .then((value) => {
            if (value != "" && value != null)
            {
                //validando o email
                var resultado = func_validandoemail(value);
                if (resultado == false) {
                    swal("E-mail inválido", "Necessário informar um e-mail válido.", "warning")
                        then(() => {
                            $("#BtnConvite").click();
                        });
                    return false
                }
                else
                {

                    var TipoEmail = "Convite";
                    var Nome = $('#Ptr_Nome').val();
                    var CPF_CNPJ = $('#Ptr_CPF_CNPJ').val();

                    $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ email: value, tipoEmail: TipoEmail, nome: Nome, vlo1: CPF_CNPJ }),
                    url: '@Url.Action("encaminharemail", "email")',
                    success: function (data) {
                        if (data.error == true) {
                            posLoad();
                            swal("Ops!", "Houve uma falha de comunicação, por favor tente novamente mais tarde.", "error");
                            return false;
                        }
                        else {

                            var prazo = "prazo de (3) três dias"
                            var TextFinal = "Ao aceitar a indicação o Controle Interno é convertido em processo " +
                                "com número de protocolo de apresentação de condutor web e segue para análise da Triagem."

                            var content = document.createElement('div');
                            content.innerHTML = '<strong class="text-danger">Atenção!</strong> O condutor apresentado tem um <strong>' + prazo + '</strong> a contar da data de envio ' +
                                'da solicitação, desde que não ultrapasse a data de vencimento da Notificação de Notificação de Auto – NA, ' +
                                'para acessar o sistema e aceitar a indicação. Ao aceitar a indicação o Controle Interno segue para análise da Triagem.<br \> ' +
                                'Após o condutor finalizar o cadastro, o proprietário deve dar continuidade ao processo de apresentação de condutor. ' + 
                                'A falta do aceite do condutor haverá o arquivamento definitivo da CI. Na falta de aceite ou reprovação, o proprietário ' +
                                'poderá fazer nova solicitação desde que haja prazo para abertura(via presencial e postagem Correios – a data limite é a do ' +
                                'vencimento previsto na Notificação da Autuação – NA, e via WEB – a data limite é do vencimento previsto na Notificação da Autuação – NA. ' +
                                'Ver regas no site da TRANSALVADOR para vias de abertura presencial e postagem Correios). ' +
                                '<strong>' + TextFinal + '</strong>' +
                                '<br \><br \><small><strong class="text-danger">Atenção!</strong>  Após o cadastro do condutor, o proprietário deve dar continuidade ao ' +
                                'processo de apresentação de condutor.</small > ';

                            swal({
                                title: 'E-mail encaminhado com sucesso!',
                                content: content,
                                icon: "success",
                            })                             
                        }
                    },

                        error: function () {
                        posLoad();
                        swal("Ops!", "Houve uma falha de comunicação, por favor tente novamente mais tarde. ", "error")
                        .then(() => {
                            location.reload();
                        });
                        }
                    })
                }

            };
        });
       return false;
    });
    //fim do envio


    //Apenas Numero
    $('#Con_CPF').keyup(function () {
        $(this).val(this.value.replace(/\D/g, ''));
    });

    //LIMPANDO CAMPO CASO APAGUE O CPF DIGITADO NA BUSCA
    var input = $("#Con_CPF").val();// document.getElementById('Con_CPF');
    input.onkeydown = function () {
        var key = event.keyCode || event.charCode;

        if (key == 8 || key == 46) {
            LimparCampo();
        };
    };

    //VALIDAÇÃO
    function Validacao() {

        var Condutor = $("#Con_CPF").val();
        var Propietario = $("#Ptr_CPF_CNPJ").val();

        //Verificando se o campo está em branco
        if (Condutor == "") {
            posLoad();
            swal("Atenção!", "Digite o documento do condutor pra realizar a pesquisa.", "warning")
                .then(() => {
                    $('#DivCPF').addClass('has-error');
                    $('#Con_CPF').focus();
                    $('#Con_CPF').val("");
                    LimparCampo();
                });
            return false;
        } else
            //verificnado se o condutor é o mesmo proprietario
            if (Condutor == Propietario) {
                posLoad();
                swal("Ops!", "O condutor não pode ser o Requerente.", "warning")
                    .then(() => {
                        LimparCampo();
                    });
                return false;
            }
            else { return true };

    }
    //FIM DA VALIDAÇÃO

     //Realiza a pesquisa do condutor
    $("#BtnPesquisa").click(function ()
    {

        preLoad();

        if (Validacao() == true) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ _cpf: $("#Con_CPF").val(), _ait: $("#Mut_AIT").val() }),//variavel de pesquisa
                url: '@Url.Action("pesquisarCondutor", "apresentacaocondutor")',
                success: function (data) {
                    if (data.ID == 1) {
                        posLoad();
                        swal("Atenção!", "O número de CPF inserido não coincide com o CPF do condutor indicado anteriormente.", "warning")
                            .then(() => {
                                $('#Con_CPF').val("");
                                $('#Con_CPF').focus();
                                LimparCampo();
                                return false;
                            });

                    } else
                    if (data.error == true) {
                        posLoad();
                        swal("Ops!", "Houve uma falha de comunicação, por favor tente novamente mais tarde.", "error")
                        .then(() => {
                            $('#Con_CPF').val("");
                            $('#Con_CPF').focus();
                            LimparCampo();
                            return false;
                        });

                    }else
                    if (data.VCM == null) {
                        posLoad();
                        swal("Ops! CPF não cadastrado!", "Encaminhe um convite digitando o e-mail do condutor.", "warning")
                            .then(() => {
                                $('#Con_CPF').val("");
                                $('#Con_CPF').focus();
                                LimparCampo();
                            });
                        return false;
                    }
                    else {
                        $(data.VCM).each(function () {
                            //verificando se retornou a pesquisa
                            if (this.Con_RegistroCNH == "" || this.Con_RegistroCNH == null) {
                                posLoad();
                                swal("Ops! Condutor selecionado não possui CNH!", "É obrigatório o condutor apresentar uma CNH.", "warning")
                                    .then(() => {
                                        $('#Con_CPF').val("");
                                        $('#Con_CPF').focus();
                                        LimparCampo();
                                    });
                                return false;
                            } else {

                                //Preenchendo

                                $("#Con_Nome").val(this.Con_Nome);
                                $("#Con_RegistroCNH").val(this.Con_RegistroCNH);
                                $("#Con_CNHValidade").val(this.Con_CNHValidade);
                                $("#Con_UF_CNH").val(this.Con_UF_CNH);
                                $("#Con_EndPro_CEP").val(this.Con_EndPro_CEP);
                                $("#Con_EndPro_Logradouro").val(this.Con_EndPro_Logradouro);
                                $("#Con_EndPro_Bairro").val(this.Con_EndPro_Bairro);
                                $("#Con_EndPro_Cidade").val(this.Con_EndPro_Cidade);
                                $("#Con_EndPro_Estado").val(this.Con_EndPro_Estado);
                                $("#Con_EndPro_Pais").val(this.Con_EndPro_Pais);
                                $("#Con_EndPro_Complemento").val(this.Con_EndPro_Complemento);
                                $("#Cond_Pes_Telefone").val(this.Cond_Pes_Telefone);
                                $("#Con_Telefone").val(this.Con_Telefone);
                                window.chnvencida = this.Con_StatusCNH;
                                $("#Con_StatusCNH").val(this.Con_StatusCNH);

                                if (this.Con_UF_CNH == "") {
                                    swal("Ops! Dados incompletos!", "O processo não poderá ser registrado, pois a UF da CNH do condutor está em branco. A mesma deverar ser atualizada pelo condudor na opção perfil.", "warning")

                                        .then(() => {
                                            posLoad();
                                            $('#Con_CPF').val("");
                                            $('#Con_CPF').focus();

                                            return false;
                                        });
                                }else
                                if (window.chnvencida == "Vencida") {
                                    posLoad();
                                    swal("Ops! CNH Vencida!", "O processo não poderá ser registrado, pois a CNH do condutor estava vencida na data de autuação da infração.", "warning")

                                        .then(() => {
                                            $('#Cond_Pes_CPF_CNPJ').val("");
                                            $('#Cond_Pes_CPF_CNPJ').focus();
                                            return false;
                                        });
                                } else {
                                    posLoad();
                                    swal("Atenção!", "O endereço do condutor infrator registrado no sistema deve ser o mesmo apresentado no comprovante de residência. Contudo, o condutor pode atualizar seus dados quando receber o processo para o aceite.", "warning");
                                    return true;
                                }
                            };
                        });
                    };
                },
                error: function () {
                    posLoad();
                    swal("Ops!", "Houve uma falha de comunicação, por favor tente novamente mais tarde.", "error")
                    .then(() => {
                        location.reload();
                    });
                },
            });
        }
    });



    //BOTAO AVANÇAR
    $("#BtnAvancar").click(function () {

        if (window.chnvencida == "Vencida") {
            posLoad();
            swal("Ops! CNH Vencida!", "O processo não poderá ser registrado, pois a CNH do condutor estava vencida na data de autuação da infração.", "warning")
                .then(() => {
                    $('#Cond_Pes_CPF_CNPJ').val("");
                    $('#Cond_Pes_CPF_CNPJ').focus();

                });
            return false;
        }


        if ($('#Ptr_CPFRepreLegal').val() == "") {
            campo_obrigatorio('#vCPFRepreLegal', '#Div_CPFRepreLegal', '#Ptr_CPFRepreLegal');
            return false;
        };

        if ($('#Ptr_NomeRepreLegal').val() == "") {
            campo_obrigatorio('#vNomeRepreLegal', '#Div_NomeRepreLegal', '#Ptr_NomeRepreLegal');
            return false;
        };


        if ($('#Con_CPF').val() == "" && $('#Con_Nome').val() == "") {
            swal("Atenção!", "Digite o documento do condutor pra realizar a pesquisa.", "warning")
            return false;
        };



        if (Validacao() == true) {
            preLoad();

                var form = $('form')[0];
                var fileData = new FormData(form);

            $.ajax({
                type: "POST",
                url: '@Url.Action("procconfirmacaodados", "apresentacaocondutor")',
                dataType: "json",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,

                success: function (data) {
                    if (data.error == true) {
                        posLoad();
                        swal("Atenção!", "Houve uma falha de comunicação, por favor tente novamente mais tarde.", "error");
                        $('#Ptr_CPF_CNPJ').focus();
                        $('#Ptr_CPF_CNPJ').val("");
                        return false;
                    } else {
                        if (data.isRedirect) {
                            posLoad();
                            window.location.href = data.redirectUrl;
                        };
                    }

                },
                error: function () {
                    posLoad();
                    swal("Ops!", "Houve uma falha de comunicação, por favor tente novamente mais tarde. ", "error")
                    .then(() => {
                        location.reload();
                    });
                },
            });
        };
    });


</script>
