@model CondutorInfrator.Models.ProcessoViewModel

@{
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
    var Pes_TipoPessoa = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Role).Value;
}



<link href="~/Content/Imagem.css" rel="stylesheet" />
<div class="container">
    <div class="conteudo">


        <div class="row">
            <div class="col-md-11" style="margin-left:-28px; font-style: italic">
                <h5> <img src="~/img/Assitente.png" style="margin-left:20px;" /><strong> Aqui você pode acompanhar o andamento do processo.</strong> </h5>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-9">
                <div class="lista-situacao">
                    <ul>
                        <li class="ativo">
                            <span>#</span>
                            <h2>Status atual do processo:</h2>
                            <p>
                                @Html.HiddenFor(model => model.StsPro_Descricao, new { id = "StsPro_Descricao", name = "StsPro_Descricao" })
                                Status: <a href="#" title="@Html.DisplayFor(model => model.StsPro_Orientacao, new { htmlAttributes = new { @class = "form-control", id = "StsPro_Orientacao", } })"
                                           data-placement="right">@Html.DisplayFor(model => model.StsPro_Descricao, new { htmlAttributes = new { @class = "form-control", id = "StsPro_Descricao", } })</a> <a href="#" onclick="mensagem()"> -  Clique Aqui </a>
                                        <br>
                                        <strong>@Html.DisplayFor(model => model.Mot_Descricao, new { htmlAttributes = new { @class = "form-control", id = "Mot_Descricao" } })</strong>
                                        <br />
                                        <strong class="">@Html.DisplayFor(model => model.Motivo_reprovacao, new { htmlAttributes = new { @class = "form-control", id = "Motivo_reprovacao" } })</strong>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-6 text-center" id="numeroprocesso">
                        <p class="numero-protocolo">
                            N° Processo: @Html.DisplayFor(model => model.Pro_Numero, new { htmlAttributes = new { @class = "form-control", id = "Pro_Numero" } })
                            @Html.EditorFor(model => model.Pro_Numero, new { htmlAttributes = new { @class = "form-control", id = "Pro_Numero", style = "display:none" } })
                        </p>
                    </div>

                    <div class="col-md-6 text-center" id="numeroprotocolo">
                        <p class="numero-protocolo">
                            N° Protocolo: @Html.DisplayFor(model => model.Pro_Processo, new { htmlAttributes = new { @class = "form-control", id = "Pro_Processo_" } })
                            @Html.EditorFor(model => model.Pro_Processo, new { htmlAttributes = new { @class = "form-control", id = "Pro_Processo", style = "display:none" } })
                        </p>
                    </div>
                    <br />


                    @if (Model.HisPro_StsPro_Id == 2 || Model.HisPro_StsPro_Id == 6 || Model.HisPro_StsPro_Id == 8)
                    {
                        <div class="col-md-12">
                            <div class="text-center">
                                <button type="button" class="btn btn-primary btn-lg btn-transalvador" id="BtnAvancar" , name="BtnAvancar" onclick="location.href='@Url.Action("processosabertos", "processo")'"> Voltar </button>
                                <br />
                            </div>
                        </div>

                    }

                    <script>
                    $(document).ready(function() {
                    var situacao = '@Model.HisPro_StsPro_Id'; // Obtém o valor de Pro_Situacao do seu modelo
            
                    var divNumeroProtocolo = $("#numeroprotocolo"); // Seleciona a div com a classe numeroprotocolo
                    var divNumeroProcesso = $("#numeroprocesso")

                    

                        if ((situacao == "1") || (situacao == "2") || (situacao == "4") || (situacao == "6") || (situacao == "20"))
                        {                
                        
                            divNumeroProcesso.removeClass("col-md-6").addClass("col-md-12"); // Retorna à largura original da coluna quando a situação não for 'Livre'
                            divNumeroProtocolo.hide(); // Oculta a div para qualquer outra situação
                        }
                        else 
                        {
                            divNumeroProcesso.removeClass("col-md-12").addClass("col-md-6"); // Aumenta a largura da coluna para 12 quando a situação for 'Livre'
                            divNumeroProtocolo.show(); // Exibe a div
                        
                        }
                });
                    </script>



                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Informações do Condutor Infrator</h3>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Con_CPF)</th>
                                    <td>@Html.DisplayFor(model => model.Con_CPF, new { htmlAttributes = new { @class = "form-control", id = "Con_CPF" } })</td>
                                    <td>@Html.HiddenFor(model => model.Con_CPF)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Con_Nome)</th>
                                    <td>@Html.DisplayFor(model => model.Con_Nome, new { htmlAttributes = new { @class = "form-control", id = "Con_Nome" } })</td>
                                    <td>@Html.HiddenFor(model => model.Con_Nome)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Con_RegistroCNH)</th>
                                    <td>@Html.DisplayFor(model => model.Con_RegistroCNH, new { htmlAttributes = new { @class = "form-control", id = "Con_RegistroCNH" } })</td>
                                    <td>@Html.HiddenFor(model => model.Con_RegistroCNH)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Con_CNHValidade)</th>
                                    <td>@Html.DisplayFor(model => model.Con_CNHValidade, new { htmlAttributes = new { @class = "form-control", id = "Con_CNHValidade" } })</td>
                                    <td>@Html.HiddenFor(model => model.Con_CNHValidade)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Con_EndPro_Logradouro)</th>
                                    <td>@Html.DisplayFor(model => model.Con_EndPro_Logradouro, new { htmlAttributes = new { @class = "form-control", id = "Con_EndPro_Logradouro" } })</td>
                                    <td>@Html.HiddenFor(model => model.Con_EndPro_Logradouro)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Con_EndPro_Bairro)</th>
                                    <td>@Html.DisplayFor(model => model.Con_EndPro_Bairro, new { htmlAttributes = new { @class = "form-control", id = "Con_EndPro_Bairro" } })</td>
                                    <td>@Html.HiddenFor(model => model.Con_EndPro_Bairro)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Con_EndPro_Complemento)</th>
                                    <td>@Html.DisplayFor(model => model.Con_EndPro_Complemento, new { htmlAttributes = new { @class = "form-control", id = "Con_EndPro_Complemento" } })</td>
                                    <td>@Html.HiddenFor(model => model.Con_EndPro_Complemento)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Con_EndPro_Cidade)</th>
                                    <td>@Html.DisplayFor(model => model.Con_EndPro_Cidade, new { htmlAttributes = new { @class = "form-control", id = "Con_EndPro_Cidade" } })</td>
                                    <td>@Html.HiddenFor(model => model.Con_EndPro_Cidade)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Con_EndPro_Estado)</th>
                                    <td>@Html.DisplayFor(model => model.Con_EndPro_Estado, new { htmlAttributes = new { @class = "form-control", id = "Con_EndPro_Estado" } })</td>
                                    <td>@Html.HiddenFor(model => model.Con_EndPro_Estado)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Con_EndPro_Pais)</th>
                                    <td>@Html.DisplayFor(model => model.Con_EndPro_Pais, new { htmlAttributes = new { @class = "form-control", id = "Con_EndPro_Pais" } })</td>
                                    <td>@Html.HiddenFor(model => model.Con_EndPro_Pais)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Con_EndPro_CEP)</th>
                                    <td>@Html.DisplayFor(model => model.Con_EndPro_CEP, new { htmlAttributes = new { @class = "form-control", id = "Con_EndPro_CEP" } })</td>
                                    <td>@Html.HiddenFor(model => model.Con_EndPro_CEP)</td>
                                </tr>

                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Con_Telefone)</th>
                                    <td>@Html.DisplayFor(model => model.Con_Telefone, new { htmlAttributes = new { @class = "form-control", id = "Con_Telefone" } })</td>
                                    <td>@Html.HiddenFor(model => model.Con_Telefone)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Con_Email)</th>
                                    <td>@Html.DisplayFor(model => model.Con_Email, new { htmlAttributes = new { @class = "form-control", id = "Con_Email" } })</td>
                                    <td>@Html.HiddenFor(model => model.Con_Email)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h3>Informações do Requerente</h3>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Ptr_CPF_CNPJ)</th>
                                    <td>@Html.DisplayFor(model => model.Ptr_CPF_CNPJ, new { htmlAttributes = new { @class = "form-control", id = "Ptr_CPF_CNPJ" } })</td>
                                    <td>@Html.HiddenFor(model => model.Ptr_CPF_CNPJ)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Ptr_Nome)</th>
                                    <td>@Html.DisplayFor(model => model.Ptr_Nome, new { htmlAttributes = new { @class = "form-control", id = "Ptr_Nome" } })</td>
                                    <td>@Html.HiddenFor(model => model.Ptr_Nome)</td>
                                </tr>

                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Ptr_RegistroCNH)</th>
                                    <td>@Html.DisplayFor(model => model.Ptr_RegistroCNH, new { htmlAttributes = new { @class = "form-control", id = "Ptr_RegistroCNH" } })</td>
                                    <td>@Html.HiddenFor(model => model.Ptr_RegistroCNH)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Ptr_CNHValidade)</th>
                                    <td>@Html.DisplayFor(model => model.Ptr_CNHValidade, new { htmlAttributes = new { @class = "form-control", id = "Ptr_CNHValidade" } })</td>
                                    <td>@Html.HiddenFor(model => model.Ptr_CNHValidade)</td>
                                </tr>

                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Ptr_EndPro_Logradouro)</th>
                                    <td>@Html.DisplayFor(model => model.Ptr_EndPro_Logradouro, new { htmlAttributes = new { @class = "form-control", id = "Ptr_EndPro_Logradouro" } })</td>
                                    <td>@Html.HiddenFor(model => model.Ptr_EndPro_Logradouro)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Ptr_EndPro_Bairro)</th>
                                    <td>@Html.DisplayFor(model => model.Ptr_EndPro_Bairro, new { htmlAttributes = new { @class = "form-control", id = "Ptr_EndPro_Bairro" } })</td>
                                    <td>@Html.HiddenFor(model => model.Ptr_EndPro_Bairro)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Ptr_EndPro_Complemento)</th>
                                    <td>@Html.DisplayFor(model => model.Ptr_EndPro_Complemento, new { htmlAttributes = new { @class = "form-control", id = "Ptr_EndPro_Bairro" } })</td>
                                    <td>@Html.HiddenFor(model => model.Ptr_EndPro_Complemento)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Ptr_EndPro_Cidade)</th>
                                    <td>@Html.DisplayFor(model => model.Ptr_EndPro_Cidade, new { htmlAttributes = new { @class = "form-control", id = "Ptr_EndPro_Cidade" } })</td>
                                    <td>@Html.HiddenFor(model => model.Ptr_EndPro_Cidade)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Ptr_EndPro_Estado)</th>
                                    <td>@Html.DisplayFor(model => model.Ptr_EndPro_Estado, new { htmlAttributes = new { @class = "form-control", id = "Ptr_EndPro_Estado" } })</td>
                                    <td>@Html.HiddenFor(model => model.Ptr_EndPro_Estado)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Ptr_EndPro_Pais)</th>
                                    <td>@Html.DisplayFor(model => model.Ptr_EndPro_Pais, new { htmlAttributes = new { @class = "form-control", id = "Ptr_EndPro_Pais" } })</td>
                                    <td>@Html.HiddenFor(model => model.Ptr_EndPro_Pais)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Ptr_EndPro_CEP)</th>
                                    <td>@Html.DisplayFor(model => model.Ptr_EndPro_CEP, new { htmlAttributes = new { @class = "form-control", id = "Ptr_EndPro_CEP" } })</td>
                                    <td>@Html.HiddenFor(model => model.Ptr_EndPro_CEP)</td>
                                </tr>

                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Ptr_Telefone)</th>
                                    <td>@Html.DisplayFor(model => model.Ptr_Telefone, new { htmlAttributes = new { @class = "form-control", id = "Ptr_Telefone" } })</td>
                                    <td>@Html.HiddenFor(model => model.Ptr_Telefone)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Ptr_Email)</th>
                                    <td>@Html.DisplayFor(model => model.Ptr_Email, new { htmlAttributes = new { @class = "form-control", id = "Ptr_Email" } })</td>
                                    <td>@Html.HiddenFor(model => model.Ptr_Email)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Informações do Veículo</h3>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Vec_Placa)</th>
                                    <td>@Html.DisplayFor(model => model.Vec_Placa, new { htmlAttributes = new { @class = "form-control", id = "Vec_Placa" } })</td>
                                    <td>@Html.HiddenFor(model => model.Vec_Placa)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Vec_RENAVAN)</th>
                                    <td>@Html.DisplayFor(model => model.Vec_RENAVAN, new { htmlAttributes = new { @class = "form-control", id = "Vec_RENAVAN" } })</td>
                                    <td>@Html.HiddenFor(model => model.Vec_RENAVAN)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Vec_Ano)</th>
                                    <td>@Html.DisplayFor(model => model.Vec_Ano, new { htmlAttributes = new { @class = "form-control", id = "Vec_Ano" } })</td>
                                    <td>@Html.HiddenFor(model => model.Vec_Ano)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Vec_Marca)</th>
                                    <td>@Html.DisplayFor(model => model.Vec_Marca, new { htmlAttributes = new { @class = "form-control", id = "Vec_Marca" } })</td>
                                    <td>@Html.HiddenFor(model => model.Vec_Marca)</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h3>Informações da Multa</h3>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Mut_AIT)</th>
                                    <td>@Html.DisplayFor(model => model.Mut_AIT, new { htmlAttributes = new { @class = "form-control", id = "Mut_AIT" } })</td>
                                    <td>@Html.HiddenFor(model => model.Mut_AIT)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Mut_CodigoInfracao)</th>
                                    <td>@Html.DisplayFor(model => model.Mut_CodigoInfracao, new { htmlAttributes = new { @class = "form-control", id = "Mut_CodigoInfracao" } })</td>
                                    <td>@Html.HiddenFor(model => model.Mut_CodigoInfracao)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Mut_DataInfracao)</th>
                                    <td>@Html.DisplayFor(model => model.Mut_DataInfracao, new { htmlAttributes = new { @class = "form-control", id = "Mut_DataInfracao" } })</td>
                                    <td>@Html.HiddenFor(model => model.Mut_DataInfracao)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Mut_DescricaoInfracao)</th>
                                    <td>@Html.DisplayFor(model => model.Mut_DescricaoInfracao, new { htmlAttributes = new { @class = "form-control", id = "Mut_DescricaoInfracao" } })</td>
                                    <td>@Html.HiddenFor(model => model.Mut_DescricaoInfracao)</td>
                                </tr>
                                <tr>
                                    <th scope="row"> @Html.DisplayNameFor(model => model.Mut_StatusAIT)</th>
                                    <td>@Html.DisplayFor(model => model.Mut_StatusAIT, new { htmlAttributes = new { @class = "form-control", id = "Mut_StatusAIT" } })</td>
                                    <td>@Html.HiddenFor(model => model.Mut_StatusAIT)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>






                <div class="row">
                    <div class="col-md-12">
                        <h4><strong>Documento(s) anexado(s) pelo requerente:</strong><small></small></h4>
                    </div>

                </div>
                <br />

                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2 text-center">
                        <strong>CNH Requerente</strong>
                        <img src="@Url.Action("buscaranexo", "apresentacaocondutor", new { pro_numero = Model.Pro_Numero, anexo = "CNH_PROPRIETARIO_"})" height="170" width="140" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
                        <p></p>
                        <p><small style="color:darkgray"> (Clique para visualizar)</small></p>
                    </div>
                    <div class="col-md-2 text-center">
                        <strong>Formulário NA </strong>
                        <p><img src="@Url.Action("buscaranexo", "apresentacaocondutor", new { pro_numero = Model.Pro_Numero, anexo = "FORMULARIO_INDICACAO_"})" height="170" width="140" onclick="openModal();currentSlide(2)" class="hover-shadow cursor"></p>
                        <p><small style="color:darkgray"> (Clique para visualizar)</small></p>
                    </div>
                    <div class="col-md-2 text-center">
                        <strong>CNH Condutor</strong>
                        <p><img src="@Url.Action("buscaranexo", "apresentacaocondutor", new { pro_numero = Model.Pro_Numero, anexo = "CNH_CONDUTOR_"})" height="170" width="140" onclick="openModal();currentSlide(3)" class="hover-shadow cursor"></p>
                        <p><small style="color:darkgray"> (Clique para visualizar)</small></p>
                    </div>
                    <div class="col-md-2 text-center">
                        <strong>Comprovante Condutor</strong>
                        <p><img src="@Url.Action("buscaranexo", "apresentacaocondutor", new { pro_numero = Model.Pro_Numero, anexo = "COMPROVANTE_CONDUTOR_"})" height="170" width="140" onclick="openModal();currentSlide(4)" class="hover-shadow cursor"></p>
                        <p><small style="color:darkgray"> (Clique para visualizar)</small></p>
                    </div>
                    <div class="col-md-2 text-center">
                        <strong>Condutor com CNH</strong>
                        <p><img src="@Url.Action("buscaranexo", "apresentacaocondutor", new { pro_numero = Model.Pro_Numero, anexo = "FOTOCNH_CONDUTOR_"})" height="170" width="140" onclick="openModal();currentSlide(5)" class="hover-shadow cursor"></p>
                        <p><small style="color:darkgray"> (Clique para visualizar)</small></p>
                    </div>
                    <div class="col-md-1">
                    </div>

                    <br />
                    @*Imagem Ampliada*@
                    <div id="myModal" class="modal">
                        <span class="close cursor" onclick="closeModal()">&times;</span>
                        <div class="modal-content">
                            <br />

                            <div class="mySlides  text-center">
                                <div class="numbertext">1 / 5</div>
                                <img src="@Url.Action("buscaranexo", "apresentacaocondutor", new { pro_numero = Model.Pro_Numero, anexo = "CNH_PROPRIETARIO_"})" height="600" width="630">
                            </div>

                            <div class="mySlides text-center">
                                <div class="numbertext">2 / 5</div>
                                <img src="@Url.Action("buscaranexo", "apresentacaocondutor", new { pro_numero = Model.Pro_Numero, anexo = "FORMULARIO_INDICACAO_"})" height="600" width="630">
                            </div>
                            <div class="mySlides text-center">
                                <div class="numbertext">3 / 5</div>
                                <img src="@Url.Action("buscaranexo", "apresentacaocondutor", new { pro_numero = Model.Pro_Numero, anexo = "CNH_CONDUTOR_"})" height="600" width="630">
                            </div>

                            <div class="mySlides text-center">
                                <div class="numbertext">4 / 5</div>
                                <img src="@Url.Action("buscaranexo", "apresentacaocondutor", new { pro_numero = Model.Pro_Numero, anexo = "COMPROVANTE_CONDUTOR_"})" height="600" width="630">
                            </div>

                            <div class="mySlides text-center">
                                <div class="numbertext">5 / 5</div>
                                <img src="@Url.Action("buscaranexo", "apresentacaocondutor", new { pro_numero = Model.Pro_Numero, anexo = "FOTOCNH_CONDUTOR_"})" height="600" width="630">

                            </div>

                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                            <br />
                            <div class="caption-container">
                                <p id="caption"></p>
                            </div>

                            <div class="col-md-1">
                            </div>



                            <div class="col-md-2 text-center ">

                                <img class="demo cursor" src="@Url.Action("buscaranexo", "apresentacaocondutor", new { pro_numero = Model.Pro_Numero, anexo = "CNH_PROPRIETARIO_"})" height="190" width="190" onclick="currentSlide(1)">
                            </div>
                            <div class="col-md-2 text-center">

                                <img class="demo cursor" src="@Url.Action("buscaranexo", "apresentacaocondutor", new { pro_numero = Model.Pro_Numero, anexo = "FORMULARIO_INDICACAO_"})" height="190" width="190" onclick="currentSlide(2)">
                            </div>
                            <div class="col-md-2 text-center">

                                <img class="demo cursor" src="@Url.Action("buscaranexo", "apresentacaocondutor", new { pro_numero = Model.Pro_Numero, anexo = "CNH_CONDUTOR_"})" height="190" width="190" onclick="currentSlide(3)">
                            </div>
                            <div class="col-md-2 text-center">

                                <img class="demo cursor" src="@Url.Action("buscaranexo", "apresentacaocondutor", new { pro_numero = Model.Pro_Numero, anexo = "COMPROVANTE_CONDUTOR_"})" height="190" width="190" onclick="currentSlide(4)">
                            </div>
                            <div class="col-md-2 text-center">

                                <img class="demo cursor" src="@Url.Action("buscaranexo", "apresentacaocondutor", new { pro_numero = Model.Pro_Numero, anexo = "FOTOCNH_CONDUTOR_"})" height="190" width="190" onclick="currentSlide(5)">
                            </div>
                            <div class="col-md-1 text-center">
                            </div>

                        </div>
                    </div>

                </div>
                <br />
                <br />
                <div class="text-center">
                    <strong>Para dúvidas e esclarecimentos:</strong>
                    <br />
                    <br />
                    <strong>Setor de Atendimento ao Público – SETAP: e-mail:</strong>setap.transalvador@salvador.ba.gov.br (71) 3202-9188<br />
                </div>

                <br />
                <br />

                <div class="col-md-12">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary btn-lg btn-transalvador" id="BtnAvancar" , name="BtnAvancar" onclick="location.href='@Url.Action("processosabertos", "processo")'"> Sair </button>
                        <br />                   
                    </div>
                </div>
            </div>
        </div>

        

        <script>





            $(document).ready(function () {
                $('#mytooltip').tooltip();

                var texto = "";
                if ($('#StsPro_Descricao').val() == 'Aguardando aceite do condutor')
                    texto = "Prezado(a) seu processo foi gerado com sucesso,"
                else
                    texto = "Prezado(a) seu processo foi gerado com sucesso,"

                var content = document.createElement('div');
                content.innerHTML = texto + ' e está aguardando o aceite do condutor, a relação de documentos anexados encontra-se disponível na parte inferior da tela <strong> “Documento(s) anexado(s) pelo requerente”</strong>. <br \><br \>' +
                    '<strong>Para dúvidas e esclarecimentos:</strong> <br \><br \>' +
                    '<strong>Setor de Atendimento ao Público – SETAP:</strong> e-mail: setap.transalvador@salvador.ba.gov.br  (71) 3202-9188<br> ';

                swal({
                    title: 'TELA DE SITUAÇÃO DA INDICAÇÃO DO REAL CONDUTOR INFRATOR',
                    content: content,
                    icon: "warning",
                });


            });

            function mensagem() {

                var content = document.createElement('div');
                content.innerHTML = '<strong>Em caso de reprovação,</strong> ' +
                    ' o proprietário poderá fazer nova solicitação em uma das vias de abertura disponíveis(via WEB, via presencial, ou postagem Correios), ' +
                    ' desde que não ultrapasse a data limite de vencimento previsto na Notificação da Autuação – NA e apresente o mesmo condutor infrator que foi apresentado na abertura anterior. <br \> ' +
                    ' <strong> Apresentar condutor infrator diferente do que conduzia o veículo configura crime de falsidade ideológica, previsto no artigo 299 do Código Penal, com pena de 1 a 5 anos e multa. </strong><br \>' +
                    ' Considerando o prazo do aceite do condutor limitado ao vencimento da NA, estando próximo do vencimento da mesma, é recomendado que a abertura seja realizada de forma presencial ou envio ' +
                    ' postagem Correios, evitado prejuízo na abertura. <br \>' +
                    ' <strong>ATENÇÃO: </strong>Abertura de nova CI na data de vencimento da NA o aceite deve ocorrer na mesma data. <br \>' +
                    ' Verifique regras no site da TRANSALVADOR para vias de abertura presencial e postagem Correios. <br \>';







                swal({
                    title: 'ATENÇÃO',
                    content: content,
                    icon: "warning",
                });
            }


            function openModal() {
                document.getElementById("myModal").style.display = "block";
            }

            function closeModal() {
                document.getElementById("myModal").style.display = "none";
            }

            var slideIndex = 1
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("demo");
                var captionText = document.getElementById("caption");
                if (n > slides.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = slides.length }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
                captionText.innerHTML = dots[slideIndex - 1].alt;
            }



        </script>