@model CondutorInfrator.Models.ProcessoViewModel

@{
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
    var Pes_TipoPessoa = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Role).Value;
}

<link href="~/Content/Imagem.css" rel="stylesheet" />
<div class="container">
    <div class="conteudo">


        @*<div class="row">
                <div class="col-md-11" style="margin-left:-28px; font-style: italic">
                    <h2></h2>
                    <h5> <img src="~/img/Assitente.png" style="margin-left:20px;" /><strong> Revise toda documentação anexada e o cumprimento das regras e legistação, pois uma vez encaminhado não será possível fazer modificações, seguindo o processo imediatamente para analise.</strong> </h5>
                </div>
            </div>
            <hr>*@

        <div class="row">
            <div class="col-md-12">
                <div class="lista-situacao">
                    <ul>
                        <li class="ativo">
                            <span>#</span>
                            <h2>PRÉ VISUALIZAÇÃO DOS ANEXOS</h2>
                            <p>
                                @using (Html.BeginForm("", "", FormMethod.Post, new { id = "form", name = "form" }))
                                {
                                    @Html.HiddenFor(model => model.StsPro_Descricao, new { id = "StsPro_Descricao", name = "StsPro_Descricao" })
                                    @Html.HiddenFor(model => model.Pro_Numero, new { id = "Pro_Numero", name = "Pro_Numero" })
                                    @Html.HiddenFor(model => model.Restricao, new { id = "Restricao", name = "Restricao" })
                                    @Html.HiddenFor(model => model.tempestivo, new { id = "tempestivo", name = "tempestivo" })
                                    @Html.HiddenFor(model => model.Mut_AIT, new { id = "Mut_AIT", name = "Mut_AIT" })
                                    
                                 }
                                <br>
                                <strong>
                                    Antes de confirmar o envio, acesse o link <strong class="text-info">"CLIQUE AQUI"</strong>, e certifique-se que toda documentação está legível e completa.
                                    Caso apresente alguma mensagem de erro, anexe os documentos novamente, confira e envie.
                                </strong>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <br />

            <hr>

            <br />

            <br />
            <br />
            <div class="row">
                <div class="row">
                    <div class="form-group col-12">
                        <label><strong>Documento(s) anexado(s) pelo requerente formato(PDF):</strong></label>
                        <ul>
                            @if (Model.Anexos != null)
                            {
                                foreach (var anexo in Model.Anexos)
                                {
                                    var result = Model.Pro_Numero;
                                    <li>
                                        <p><i class="glyphicon glyphicon-paperclip"></i><small><strong> <a href='@Url.Action("download", "JARI", new {  ext = anexo.Anx_NomeArquivo, pro_numero = @result})' target="_blank"> @anexo.Anx_TipoDocumento - CLIQUE AQUI! </a></strong></small></p>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <br />
                <br />

                <div class="title_box" id="subject">
                    <div id="title" class="text-danger"><strong>INFORMAÇÃO IMPORTANTE</strong> </div>
                    <div id="content">
                        <strong>FAÇA A PRÉ VISUALIZAÇÃO DOS ANEXOS ANTES DO ENVIO:  </strong>
                        A ilegibilidade ou ausência de documentação obrigatória, falta de assinatura na petição ou requerimento, assinaturas divergentes às dos documentos apresentados,
                        descumprimento das regras do passo a passo e legislação, poderão ensejar o não conhecimento do Recurso Jari.
                        <br />
                        <br />
                        <p>
                            • Ao selecionar a opção abaixo, você concorda com os Termos da Superintendência de Trânsito de Salvador (TRANSALVADOR).
                        </p>
                        <label for="">Política de Privacidade</label>
                        <p>
                            • Declaro para os devidos fins, que as informações referentes ao cadastro para adesão ao TRANSALVADOR Digital são
                            verdadeiras, sob pena de ser responsabilizado(a) cível, penal e
                            administrativamente.
                        </p>

                        <br />
                    </div>
                </div>
                <br />

                <label class="pure-material-checkbox">
                    <input type="checkbox" name="ConfirmarChk" , id="ConfirmarChk" onchange="habilitar()">
                    <span>Declaro que li e estou ciente das informações acima.</span>
                </label>
            </div>
            <br />
            <div class="text-center">
                <strong>Para dúvidas e esclarecimentos:</strong>
                <br />
                <br />
                <strong>Setor de Atendimento ao Público – SETAP: e-mail:</strong> setap.transalvador@salvador.ba.gov.br (71) 3202-9188 / 9189<br />
                <strong>Ouvidoria Transalvador: e-mail: </strong> ouvidoria.transalvador@salvador.ba.gov.br
            </div>
            <br />
            <div class="col-md-12">
                <div class="text-center">
                    <button type="button" class="btn btn-success btn-lg" id="BtnAvancar" name="BtnAvancar" onclick="location.href='@Url.Action("AnexaDocumento_JARI", "JARI", new { pro_numero = Model.Pro_Numero })'"> Voltar </button>
                    @*<button type="button" class="btn btn-primary btn-lg btn-transalvador" id="BtnConcluir" , name="BtnConcluir" onclick="location.href='@Url.Action("RealizarAbertura", "JARI",new { pro_numero = Model.Pro_Numero,Restricao =  Model.Restricao, tempestivo =  Model.tempestivo })'"> Finalizar Abertura </button>*@
                    <button type="button" class="btn btn-primary btn-lg btn-transalvador" id="BtnConcluir" , name="BtnConcluir" onclick="ConcluirAbertura()"> Finalizar Abertura </button>
                </div>
            </div>
        </div>
        </div>
    </div>



<script>

    window.onload = function () {
        noBack();
    }
    function noBack() {
        window.history.forward();
    }

    document.getElementById('BtnConcluir').setAttribute("disabled", "disabled");
    function habilitar() {
        if (document.getElementById('ConfirmarChk').checked) {
            document.getElementById('BtnConcluir').removeAttribute("disabled");
        }
        else {
            document.getElementById('BtnConcluir').setAttribute("disabled", "disabled");
        }
    }



    $(document).ready(function () {
        $('#mytooltip').tooltip();
    });




    function ConcluirAbertura() {

        var form = $('form')[0];
        var fileData = new FormData(form);

        preLoad();
        $.ajax({
            type: "POST",
            url: '@Url.Action("RealizarAbertura", "JARI")',
            dataType: "json",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: fileData,

            success: function (data) {
                if (data.error == true) {
                    posLoad();
                    swal("Ops!", "Houve uma falha de comunicação, por favor tente novamente mais tarde", "error");
                    return false;
                } else {
                    RedirectUrl(data.redirectUrl, data.pro_numero)
                    posLoad();
                }
            },

            error: function () {
                posLoad();
                swal("Ops!", "Houve uma falha de comunicação. Retorne ao status anterior, anexe novamente os documentos e reenvie. ", "error")
                    .then(() => {
                        location.reload();
                    });
            }
        });
    }

    function RedirectUrl(redirectUrl, pro_numero, Restricao) {
        var form = $('<form action="' + redirectUrl + '" method="post">' +
            '<input type="hidden" name="pro_Numero" value="' + pro_numero + '" />' +
            '<input type="hidden" name="Restricao" value="' + Restricao + '" />' +
            '</form>');

        $('body').append(form);
        $(form).submit();
    }



</script>